# Jupyter, NumPy, and Pandas Sanity Check

## Objective
Verify that Jupyter Notebook, NumPy, and Pandas work correctly together
by performing simple numerical and tabular operations.

## Why this matters
Most ML work starts with quick experiments in notebooks.
Being able to validate libraries and inspect data is a core skill.

In [ ]:
import numpy as np

# Create a NumPy array
arr = np.array([1, 2, 3, 4, 5])

print("Array:", arr)
print("Mean:", arr.mean())
print("Standard deviation:", arr.std())

In [1]:
import pandas as pd

# Create a simple DataFrame
data = {
    "name": ["Alice", "Bob", "Charlie"],
    "age": [25, 30, 35],
    "score": [88, 92, 79]
}

df = pd.DataFrame(data)

df

      name  age  score
0    Alice   25     88
1      Bob   30     92
2  Charlie   35     79

In [2]:
print("Shape:", df.shape)
print("\nSummary statistics:")
df.describe()

Shape: (3, 3)

Summary statistics:

        age      score
count   3.0   3.000000
mean   30.0  86.333333
std     5.0   6.658328
min    25.0  79.000000
25%    27.5  83.500000
50%    30.0  88.000000
75%    32.5  90.000000
max    35.0  92.000000